.outer_container {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.user_input{
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}
.user_input h1{
	margin-top: 50px;
	font-family: helvetica;
	color: green;
}
.numBikes {
	margin-left: 13px;
}

#searchbutton {
	margin-top:10px;
	margin-bottom:50px;
}
.logo {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-top: 50px;
	border: 10px solid green;
	border-radius: 5px;

}
.resultsContainer {
	text-align: left;
	margin-left: 100px;
}

.outer_container h1, h2{
	margin-top: 30px;
	font-family: helvetica;
	color: green;
	text-align: center;


/*button[type='submit'] {
	color: green;
	display: block;
	margin: 0 auto;
}*/

button[type='submit'] {
	display: block;
	width: 50%;
	margin: 0 auto;
}