extends layout 

block layout-content
    div.outer_container
        header.header_container
            h1 Avail-a-Bikes
            h2 Let us get you from A -to- B
        div.logo_container
            img.logo(src="/avai-a-bike.gif", alt="")
        a(href='/search') Find Bikes
    