* {
	font-family: 'Josefin Slab', serif;	
}

.outer_container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	border: 10px solid #FE287A;
	border-radius: 5px;
}

.hidden_search{ 
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 75px;
}

#city_needed,
#bikes_needed {
	width: 250px;
	/* border: #FE287A; */
 }
.user_input{
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
}

.numBikes {
	margin-left: 13px;
}

#searchbutton {
	margin-top:10px;
	margin-bottom:50px;
	background-color: #FE287A;
	border: none;	
	color: darkslateblue;	
	font-size: 22px
}

.start_button {
	margin-top: 10px;
	border: none;
	height: 30px;
	background-color: #FE287A;
	font-size: 22px;
	color: darkslateblue;
}

.resultsContainer {
	/* margin-left: 85px;
	text-align: left; */
	
}

ul {
	list-style: none;
}

li {
	font-size: 18px;
}

ul li::before {
	content: "\01F6B2";
}

.outer_container h1, h2{
	margin-top: 30px;
	font-weight: bold;
	color: #A74C9F;
	text-align: center;

button[type='submit'] {
	display: block;
	width: 50%;
	margin: 0 auto;
}

/*===Mobile view===*/
@media screen and (min-width: 320px) {

	.logo {
		width: 85%;
	}

	.search {
		font-size: 26px;
	}
	.user_input{
		font-size: 26px;
	}
}

/*===Tablet view===*/
@media screen and (min-width: 600px) {
	
	.logo {
		width: 65%;
	}

	.search {
		font-size: 22px;
	}

	.user_input{
		font-size: 22px;
	}

}

/*===Desktop view===*/
@media screen and (min-width: 1000px) {
	.logo {
		width: 50%;
	}
	
	.search {
		font-size: 22px;
	}
		
	.user_input{
		font-size: 22px;
	}
}